.page {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.page__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
