.modal__error_server {
  color: #ff4d4d;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
@media (max-width: 500px) {
  .modal__submit-btn {
    width: 288px !important;
    padding: 20px 79px !important;
    margin: 23px auto 0 !important;
  }
  .modal__alternateAction-link {
    width: 190px !important;
  }

  .modal .modal__container {
    top: 50px !important;
    position: relative !important;
    margin-top: 0 !important;
    margin-bottom: auto !important;
    max-height: calc(100vh - 100px) !important;
    overflow-y: auto !important;
    overflow: visible !important;
  }
  .modal .modal__container .modal__close {
    top: -34px !important; /* 16px above container */
    right: 16px !important;
    width: 24px !important;
    height: 24px !important;
    position: absolute !important;
  }
}
