@media (max-width: 500px) {
  /* .modal__submit-btn {
    width: 309px !important;
  }
  .modal__close {
    top: -50px !important;
    right: 12px !important;
  }
  .modal__container {
    top: -500px !important;
  }*/
}
